.verify_circle {
  height: 60px;
  width: 60px;
  border: 4px solid #32ae3e;
  border-radius: 50%;
  color: #32ae3e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rShowCase_sec3 {
  background-image: url("../../../../public/assets/images/Rectangle20.png");
  height: 124px;
  width: 341px;
  font-size: 14px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* align-items: center; */
  justify-content: center;
  /* padding: 0px 20px; */
}
.alls {
  color: #4e92ff;
  font-size: 0.9rem;
}
.txt1 {
  font-weight: bold;
  font-size: 20px;
}
.txt2 {
  font-size: 17px;
}
.txt3 {
  font-weight: 300;
  font-size: 16px;
}
.txt4 {
  font-weight: 300;
  font-size: 16px;
}
.txt5 {
  font-weight: 300;
  font-size: 16px;
  color: #ababab;
}
.txt6 {
  color: #11999e;
}
.sec8 {
  background-color: #11999e;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.sec9 {
  background-color: #fff;
  color: #e12525;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #e12525;
  cursor: pointer;
}
.sec10 {
  position: absolute;
  right: 30%;
  top: 50%;
 font-weight: bold;
 font-size: 22px;  
}
.activeCompany_sec6 {
  position: absolute;
  top: -5%;
  right: -1%;
  z-index: 2;
}
.filterButton {
  background-color: #ec4872;
  border-radius: 10px;
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}
