.sec3 {
  font-family: iranBLack;
}
.sec4 {
  font-size: 18px;
  line-height: 28px;
}
.sec5 {
  background-color: #ec4b72;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  width: 40%;
}
.sec6 {
  background-color: #fff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}
.sec7 {
  font-weight: bold;
  font-size: 18px;
}
.sec8 {
  font-size: 16px;
  font-weight: 300;
}
.sec9 {
  font-family: iranBLack;
  font-size: 45px;
  text-align: center;
}
.sec10 {
  font-family: iranBLack;
  font-size: 30px;
  text-align: start;
}
.sec11 {
  font-size: 18px;
  text-align: start;
  line-height: 25px;
}
.sec12 {
  background: linear-gradient(rgba(199, 228, 229, 0.65) 0 0) padding-box,
    /*this is your grey background*/
      linear-gradient(to right, rgba(242, 242, 242, 1), rgba(199, 228, 229, 1))
      border-box;
  color: #313149;
  border: 20px solid transparent;
  border-radius: 30px;
  display: inline-block;
}
.sec13 {
  font-weight: bold;
  color: #11999e;
  font-size: 22px;
}
.sec14 {
  color: #000;
  font-size: 20px;
}
.sec15 {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
}
.sec16 {
  color: #fff;
  font-weight: bold;
}
.sec17 {
  text-shadow: 4px 4px 0px #000000, 3px 3px 0px #000000, 2px 2px 0px #000000,
    1px 1px 0px #000000;
  color: #fff;
  font-family: iranBLack;
  font-size: 50px;
}
.sec18 {
  color: #fff;
  font-family: iranBLack;
  font-size: 1.5rem;
  background-color: #11999e;
  border-radius: 20px;
}
.sec18_1 {
  color: #fff;
  font-family: iranBLack;
  font-size: 1.5rem;
  background-color: #ec4872;
  border-radius: 20px;
}
.sec20 {
  color: #fff;
  font-family: iranBLack;
  font-size: 1.5rem;
  background-color: #ec4872;
  border-radius: 20px;
}
.sec19 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -10%;
  right: 10%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.81);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.home_top_section {
  display: flex;
  background-color: #10989e;
  height: 80vh;
  width: 100%;
  align-items: center;
  margin-bottom: 15vh;
  position: relative;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px;
}
.sec20 {
  display: flex;
  position: fixed;
  margin-left: -190px;
  top: 20%;
  left: 0;

  background-color: transparent;
  animation: closeDrop 1.5s;
}
.sec20_open {
  display: flex;
  position: fixed;
  margin-left: -20px;
  top: 20%;
  left: 0;
  background-color: transparent;
  animation: widthDrop 1.5s;
}

@keyframes widthDrop {
  from {
    margin-left: -190px;
  }
  to {
    margin-left: -20px;
  }
}
@keyframes closeDrop {
  from {
    margin-left: -20px;
  }
  to {
    margin-left: -190px;
  }
}
.sec21 {
  position: relative;
  width: 100%;
}
.sec22 {
  position: absolute;
  width: 100%;
  background-color: #ec4872;
}
.sec23 {
  position: absolute;
  top: 42%;
  right: 12%;
  cursor: pointer;
}
.sec24 {
  position: absolute;
  top: 15%;
  right: 20%;
}
.sec25 {
  border: #757575 solid 1px;
  border-radius: 10px;
}
.sec26 {
  font-size: 15px;
  text-align: center;
}
.sec27 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.sec28 {
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(236, 75, 114, 0.7);
}
.sec29 {
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(17, 153, 158, 0.7);
}
.sec32 {
  width: null;
  /* height: 50px; */
  background-color: #eaf5f5;
  border-radius: 15px;
}
.sec33 {
  /* width: 100%; */
  height: 50px;
  background-color: #eaf5f5;
  position: relative;
}
.sec34 {
  background-color: #eaf5f5;
  border-radius: 15px;
}
.sec35 {
  width: 27px;
  height: 27px;
  background-color: #fff;
  position: absolute;
  bottom: 1%;
  right: -54%;
  border-radius: 50%;
}
.sec36 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #11999e;
  position: absolute;
  bottom: -10%;
  right: -18%;
}
.test {
  position: absolute;
  left: 100px;
  top: 106px;
  background: #fff;
  width: 200px;
  height: 200px;
  -moz-border-radius: 10px 0 10px 10px;
  -webkit-border-radius: 10px 0 10px 10px;
  border-radius: 10px 0 10px 10px;
  -moz-box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.5);
  line-height: 200px;
  text-align: center;
  color: #dbdbdb;
}

.test:before {
  content: "";
  width: 50px;
  position: absolute;
  right: 0px;
  top: -26px;
  height: 16px;
  background: #fff;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  display: block;
}

.test:after {
  width: 61px;
  height: 10px;
  background: #fff;
  -webkit-mask-image: radial-gradient(
    circle 10px at 0px 0,
    transparent 0,
    transparent 10px,
    black 11px
  );
  top: -10px;
  right: 0px;
  position: absolute;
  content: "";
  display: block;
}
